.account-container {
  width: calc(100% - 200px);
  /* subtract side nav size */
  height: 100%;
  float: right;
  margin-top: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  padding: 30px;
  min-width: 250px;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.form-container h1 {
  width: 100%;
}

.form-container button {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  height: 50px;
  padding: 0 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.form-and-loyalty-box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.form-and-loyalty-box form {
  flex-grow: 1;
  max-width: 550px;
}

.loyalty-box {
  display: block;
  width: 200px;
  max-width: 200px;
  height: 100%;
  padding: 20px;
}

.loyalty-label {
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
}

.loyalty-points {
  font-size: 30px;
  font-weight: bold;
}

.form-label {
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  color: #333;
}

.form-label input {
  width: 100%;
}

.no-suggestions {
  text-align: center;
  top: 150px;
}

.suggestions-container {
  padding-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}