.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    width: 200px;
    background-color: #eee;
}

.sidenav-item {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sidenav-item:hover {
    color: blue;
}

.logout-button {
    float: right;
    background-color: #999;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    margin-bottom: 40px;
}