.review-form {
  margin: 20px 0;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.review-form label {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.review-title {
  height: 30px;
}

.review-title input {
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.review-body textarea {
  width: 100%;
  height: 100px;
  resize: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.review-form p {
  width: 60px;
  margin-right: 10px;
}

.review-rating {
  height: 30px;
}

.review-rating input {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 70px;
  padding: 10px;
}

.submit {
  width: 150px;
  background-color: lightgray;
  height: 40px;
}

.cart-button {
  background-color: rgb(36, 36, 36);
  color: white;
  font-size: 20px;
  width: 200px;
  margin-left: 61px;
}

h6 {
  display: inline-block;
  margin-top: 15px;
}
