.checkout-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .checkout-form input {
  border: 1px solid black;
}
.total-box {
  width: 100px;
  height: 30px;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 30px 20px 15px 15px; 
  margin-left: auto; 
  font-weight: bold; 
  font-family: "Helvetica Neue", "Arial", sans-serif; 
  text-align: right;
}
