
  
  .featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .book-icon {
    width: 23%;
    margin-bottom: 20px;
  }
  
  .icon-container {
    position: relative;
    overflow: hidden;
  }
  
  .icon-container:hover img {
    transform: scale(1.1);
  }
  
  .icon-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .icon-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .icon-price {
    font-size: 16px;
    font-weight: 300;
    color: #999;
  }

  .collage-container {
    position: relative;
    height: 600px;
    margin: 0 auto; 
    width: 80%;
  }
  
  .collage-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/collage.jpg');
    background-size: cover;
    filter: brightness(0.8);
  }
  
  .collage-container .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    height: 150px;
    width: 50%;
  }

  .banner .banner-subtitle {
    color: #fff; 
  }
  