* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

.home {
    transform: translateY(110px);
}

.recommendations {
    transform: translateY(110px);
}

.wishlist {
    transform: translateY(110px);
}

.login {
    transform: translateY(110px);
}

.banner {
    text-align: center;
    height: 130px;
    background: #f0f1f5;
    color: #030e4b;
}

.banner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.banner-title {
    font-family: Helvetica, sans-serif;
    padding-top: 14px;
    padding-bottom: 0;
    margin: auto;
    font-size: 30px;
}

.banner-subtitle {
    font-family: Helvetica, sans-serif;
    padding-bottom: 14px;
    padding-top: 0;
    margin: auto;
    font-size: 24px;
    color: maroon;
}