* {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  height: 110px;
  background-color: #225799;
}

.nav-right {
  width: 400px;
  text-align: center;
}

.nav-logo {
  float: left;
  background-color: #225799;
  width: calc(100% - 20px);
  height: 100%;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.nav-left {
  display: block;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  flex-grow: 1;
}

.link-container {
  display: flex;
  flex-direction: row;
}

.page-links {
  height: 46px;
}

.page-links ul {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 10px;
}

li {
  list-style: none;
  color: white;
}

.page-links ul li a {
  padding-right: 30px;
  text-decoration: none;
  font-family: "Lato", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.page-links ul li a:hover {
  text-decoration: underline;
}

.user-links {
  margin-left: auto;
}

.user-links ul {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 16px;
}

.user-links ul li a {
  padding-right: 10px;
  font-family: "Lato", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.search-bar {
  background-color: white;
  height: 40px;
  text-align: center;
  border-radius: 8px;
}

.search-input {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-top: 10px;
  outline: none;
}

/* .nav-links {
  height: 50px;
  text-align: center;
}

.nav-links ul {
  display: inline-flex;
  flex-direction: row;
  text-align: left;
  margin-top: 10px;
  height: calc(100% - 10px);
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  padding-right: 20px;
  text-decoration: none;
  font-family: "Lato", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.nav-bottom {
  height: calc(100% - 50px);
  text-align: center;
}

.nav-bottom div {
  transform: translateX(-140px);
  height: calc();
}

.logo-container {
  display: inline-block;
  width: 380px;
  margin-bottom: 10px;
}

.nav-logo {
  display: block;
  width: calc(100% - 50px);
  height: 100%;
  background-color: white;
}

.search-bar {
  display: inline-block;
  width: 520px;
  background-color: white;
}

.search-input {
  width: calc(100% - 20px);
  height: 100%;
  outline: none;
  height: 100%;
} */

.home {
  height: 1000px;
}